<p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-md-12">
      <h1>Shop Items</h1>
    </div>
  </div>
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-md-4">
        <div><%= image_tag "01340.jpg" %></div>
        <ul>
          <li><span>Name:</span><%= item.name %></li>
          <li><span>Price:</span><%= item.price %></li>
          <li><span>Stock:</span><%= item.stock %></li>
        </ul>
        <ul class="row">
          <li class="col-md-3"><%= link_to 'purchase', purchase_item_path(item), data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></li>
          <li class="col-md-3"><%= link_to 'Show', item, class: "btn btn-default" %></li>
          <li class="col-md-3"><%= link_to 'Edit', edit_item_path(item), class: "btn btn-default" %></li>
          <li class="col-md-3"><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></li>
        </ul>
    </div>
    <% end %>
  </div>

<%= link_to 'New Item', new_item_path %>
